<!-- Modal -->
<div class="modal fade bottom" id="exampleModalPreview" tabindex="-1" role="dialog" aria-labelledby="exampleModalPreviewLabel" aria-hidden="true" data-backdrop='false'>
  <div class="modal-dialog modal-fluid modal-full-height modal-bottom" role="document">
    <div class="modal-content">
      
      <div class="modal-body">
        Pay attention. We use a few cookies here on this site.  How to we use them you ask?  What kind are they? Well, my favorite are white chocolate macadamian. But 
        currently I am on a diet and I cannot eat them as much as I would like....
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>
<!-- Modal -->