{% extends 'base.html.twig' %}

{% block title %}Hello WelcomeController!{% endblock %}

{% block body %}
<style>   
    .example-wrapper { margin: 1em auto; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
}
    
</style>
{{ include('welcome/_nav.html.twig') }}
 <!--Main layout-->
  <main class="mt-5 pt-4">
    <div class="container-lg">
<div class="example-wrapper">
 <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display-4">Fluid jumbotron</h2>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>
</div>
</div>
</main>
<!-- Button trigger modal -->
<button id="modalActivate" type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalPreview">
  Launch demo modal
</button>
<!-- Modal -->
<div class="modal fade bottom" id="exampleModalPreview" tabindex="-1" role="dialog" aria-labelledby="exampleModalPreviewLabel" aria-hidden="true" data-backdrop='false'>
  <div class="modal-dialog modal-fluid modal-full-height modal-bottom" role="document">
    <div class="modal-content">
      
      <div class="modal-body">
        Pay attention. We use a few cookies here on this site.  How to we use them you ask?  What kind are they? Well, my favorite are white chocolate macadamian. But 
        currently I am on a diet and I cannot eat them as much as I would like....
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>
<!-- Modal -->


{% endblock %}

{% block stylesheets %}
<!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<!-- Google Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
{% endblock %}

{% block javascripts %}
<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>


<script>

$(function() {
    console.log( "ready!" );
    $('#exampleModalPreview').modal()
});
</script>
{% endblock %}