{% extends 'base.html.twig' %}

{% block title %}Create Blog{% endblock %}

{% block body %}
    <h1>Create Blog</h1>

    {{ include('blog/_form.html.twig', {'button_label': 'Submit'}) }}

    <a href="{{ path('blog') }}">back to list</a>

{% endblock %}
